MODE: 2             # 1: train, 2: test, 3: refine, 4: test+refine, Hidden: (5:drawing tool, 6:refine in drawing tool)
SEED: 10            # random seed
GPU: [0]            # list of gpu ids
DEBUG: 1            # turns on debugging mode
VERBOSE: 0          # turns on verbose mode in the output console

TEST_FLIST: ./datasets/celeba/val       # testing dir path used in test.py
REFINE_FLIST: ./datasets/celeba/refine  # refinement dir path used in refine.py

BATCH_SIZE: 4                 # input batch size for training
INPUT_SIZE: 128               # image will be cropped into [INPUT_SIZE, INPUT_SIZE]
SIGMA: 3.5                    # standard deviation of the Gaussian filter used in Canny edge detector (0: random, -1: no edge)
KM: 3                         # number of colors in color domain, used in K-Means algorithm